snippet cl "console.log"
console.log(${1:"blork"});
endsnippet

snippet f "function"
function (${1:arg}) {
	${VISUAL}$0
}
endsnippet

snippet r "require"
require('${1:module}');
endsnippet

snippet if "if"
if (${1:true}) {
	${VISUAL}$0
}
endsnippet

snippet v "var"
var ${1:name} = $0;
endsnippet

snippet $ "jquery wrap"
$(${1:${VISUAL}})$0
endsnippet

