
snippet x "new todo item"
[ ] ${0}
endsnippet


snippet date "insert date (english)"
`!p
import time
import locale
locale.setlocale(locale.LC_TIME, "en_US")
snip.rv = time.strftime("%a, %d %B %Y")
`
endsnippet

snippet P
Petja
endsnippet

snippet ED
EpicDream
endsnippet
