
snippet qq "enquote"
\enquote{$1${VISUAL}}
endsnippet

snippet ii "italics"
\textit{$1${VISUAL}}
endsnippet

snippet bb "bold"
\textbf{$1${VISUAL}}
endsnippet

snippet pp "Paragraph"
\par{$1${VISUAL}}
endsnippet

snippet vv "Vocabulary"
\voc{$1${VISUAL}}
endsnippet
